name: Publish to NPM

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write
  contents: read

jobs:
  publish-to-npm:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5

      - name: Install UPX
        run: sudo apt-get install -y upx

      - name: Build deadmanswitch
        run: bash deadmanswitch/build.sh

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org

      - name: Install dependencies
        run: npm ci

      - name: Build TypeScript
        run: npx kubik ./build.mjs

      - name: Make sure tests pass before publishing
        run: npx playwright test

      - name: Publish to NPM
        run: npm publish --provenance
